*{
  margin: 0;
  padding: 0;
}
.App{
  background: linear-gradient(to  top, #1ba6d0, #43d7e2);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-color: #12343b;
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  text-align: center;
}

